/* this is a css comment */
body {
    font-family: 'Segoe UI';
    font-size: 18px;
    color: rgb(7, 33, 160);
}

/*comma means AND */
header, footer  {
    background-color: #050506;
}


.site-title {
    color: #ff00a6;
}

#my-image {
    box-shadow: 0 0 2px 1px rgb(197, 12, 108); 
}

.hobbies {
    list-style-type: square;
}

.hobbies li:nth-child(1),
.hobbies li:nth-child(2) {
    background-color: rgb(3, 147, 77); 
} 

nav a {
    text-decoration: none;                      
    background-color: #bbcc00;   
    border: 1px solid #0098a3;  
}

nav a:hover {
    background-color: #a33e00;
}


